<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/dashboard" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/public/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
              <img src="/public/images/urc_logo.png" alt="" height="22">
            </span>
        </a>

        <a href="/dashboard" class="logo logo-light">
            <span class="logo-sm">
                <img src="/public/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/public/images/urc_logo.png" alt="" height="22">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="/dashboard">
                        <i class="uil-home-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>


                <li class="menu-title">Apps</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-users-alt"></i>
                        <span>Members</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/members/add">Add Member</a></li>
                        <li><a href="/members">Members</a></li>
                        <li><a href="/members/requests">Membership Requests</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user"></i>
                        <span>Projects</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/projects/add">Add Project</a></li>
                        <li><a href="/projects">Projects</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/awards" class=" waves-effect">
                        <i class="uil-award"></i>
                        <span>Awards</span>
                    </a>
                </li>
                <li>
                    <a href="/gallery" class=" waves-effect">
                        <i class="uil-images"></i>
                        <span>Gallery</span>
                    </a>
                </li>

                <li class="menu-title">System</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-plus"></i>
                        <span>Admins</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admins/add">Add Admin</a></li>
                        <li><a href="/admins">Administrators</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-plus"></i>
                        <span>Executives</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/executives/current">Current Executives</a></li>
                        <li><a href="/executives/past">Past Executives</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/contacts" class=" waves-effect">
                        <i class="uil-phone-alt"></i>
                        <span>Contact Form</span>
                    </a>
                </li>
                <li>
                    <a href="/subscriptions" class=" waves-effect">
                        <i class="uil-fast-mail"></i>
                        <span>Email Subscriptions</span>
                    </a>
                </li>
                <li>
                    <a href="/settings" class=" waves-effect">
                        <i class="uil-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
