<header class="slider slider-prlx fixed-slider text-center">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="public/images/slider/slider1.JPG" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10">
                                <div class="caption center mt-30">
                                    <p>Welcome to the UENR Robotics Club</p>
                                    <h1>Nurturing <span class="color-font">Engineers</span> <br> for our <span
                                                class="color-font">society</span></h1>
                                    <a href="#0" class="butn bord curve mt-30">
                                        <span>Look More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="public/images/slider/slider2.JPG" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-9">
                                <div class="caption center mt-30">
                                    <h1 class="color-font">Include more <br> Skill Training</h1>
                                    <p>We will help you to improve upon your skill set.</p>
                                    <a href="#0" class="butn bord curve mt-30">
                                        <span>Look More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="public/images/slider/slider3.JPG" data-overlay-dark="6">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-9">
                                <div class="caption center mt-30">
                                    <h1 class="color-font">Breaking Barriers, <br> Building a Future</h1>
                                    <p>Create the things you wish existed</p>
                                    <a href="#0" class="butn bord curve mt-30">
                                        <span>Look More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slider setting -->
        <div class="setone setwo">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination top botm "></div>

        <div class="social-icon">
            <a href="#0"><i class="fab fa-facebook-f"></i></a>
            <a href="#0"><i class="fab fa-twitter"></i></a>
            <a href="#0"><i class="fab fa-behance"></i></a>
            <a href="#0"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</header>
